In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("Housing.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [5]:
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [6]:
data.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [8]:
ls = ['mainroad', 'guestroom', 'basement', 'hotwaterheating', 
    'airconditioning','prefarea', 'furnishingstatus']


for i in ls:
    print (data[i].value_counts())
    print("-"*35)

mainroad
yes    468
no      77
Name: count, dtype: int64
-----------------------------------
guestroom
no     448
yes     97
Name: count, dtype: int64
-----------------------------------
basement
no     354
yes    191
Name: count, dtype: int64
-----------------------------------
hotwaterheating
no     520
yes     25
Name: count, dtype: int64
-----------------------------------
airconditioning
no     373
yes    172
Name: count, dtype: int64
-----------------------------------
prefarea
no     417
yes    128
Name: count, dtype: int64
-----------------------------------
furnishingstatus
semi-furnished    227
unfurnished       178
furnished         140
Name: count, dtype: int64
-----------------------------------

In [12]:
one_hot_data = pd.get_dummies(
    data,
    columns= ls
).astype('int64')

one_hot_data.head()

,price,area,bedrooms,bathrooms,stories,parking,mainroad_no,mainroad_yes,guestroom_no,guestroom_yes,...,basement_yes,hotwaterheating_no,hotwaterheating_yes,airconditioning_no,airconditioning_yes,prefarea_no,prefarea_yes,furnishingstatus_furnished,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,13300000,7420,4,2,3,2,0,1,1,0,...,0,1,0,0,1,0,1,1,0,0
1,12250000,8960,4,4,4,3,0,1,1,0,...,0,1,0,0,1,1,0,1,0,0
2,12250000,9960,3,2,2,2,0,1,1,0,...,1,1,0,1,0,0,1,0,1,0
3,12215000,7500,4,2,2,3,0,1,1,0,...,1,1,0,0,1,0,1,1,0,0
4,11410000,7420,4,1,2,2,0,1,0,1,...,1,1,0,0,1,1,0,1,0,0

In [13]:
one_hot_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   price                            545 non-null    int64
 1   area                             545 non-null    int64
 2   bedrooms                         545 non-null    int64
 3   bathrooms                        545 non-null    int64
 4   stories                          545 non-null    int64
 5   parking                          545 non-null    int64
 6   mainroad_no                      545 non-null    int64
 7   mainroad_yes                     545 non-null    int64
 8   guestroom_no                     545 non-null    int64
 9   guestroom_yes                    545 non-null    int64
 10  basement_no                      545 non-null    int64
 11  basement_yes                     545 non-null    int64
 12  hotwaterheating_no               545 non-null    int64
 13  hotwaterheating_yes              545 non-null    int64
 14  airconditioning_no               545 non-null    int64
 15  airconditioning_yes              545 non-null    int64
 16  prefarea_no                      545 non-null    int64
 17  prefarea_yes                     545 non-null    int64
 18  furnishingstatus_furnished       545 non-null    int64
 19  furnishingstatus_semi-furnished  545 non-null    int64
 20  furnishingstatus_unfurnished     545 non-null    int64
dtypes: int64(21)
memory usage: 89.5 KB

In [17]:
one_hot_data.describe()

,price,area,bedrooms,bathrooms,stories,parking,mainroad_no,mainroad_yes,guestroom_no,guestroom_yes,...,basement_yes,hotwaterheating_no,hotwaterheating_yes,airconditioning_no,airconditioning_yes,prefarea_no,prefarea_yes,furnishingstatus_furnished,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
count,545.00,545.00,545.00,545.00,545.00,545.00,545.00,545.00,545.00,545.00,...,545.00,545.00,545.00,545.00,545.00,545.00,545.00,545.00,545.00,545.00
mean,"4,766,729.25","5,150.54",2.97,1.29,1.81,0.69,0.14,0.86,0.82,0.18,...,0.35,0.95,0.05,0.68,0.32,0.77,0.23,0.26,0.42,0.33
std,"1,870,439.62","2,170.14",0.74,0.50,0.87,0.86,0.35,0.35,0.38,0.38,...,0.48,0.21,0.21,0.47,0.47,0.42,0.42,0.44,0.49,0.47
min,"1,750,000.00","1,650.00",1.00,1.00,1.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,"3,430,000.00","3,600.00",2.00,1.00,1.00,0.00,0.00,1.00,1.00,0.00,...,0.00,1.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00
50%,"4,340,000.00","4,600.00",3.00,1.00,2.00,0.00,0.00,1.00,1.00,0.00,...,0.00,1.00,0.00,1.00,0.00,1.00,0.00,0.00,0.00,0.00
75%,"5,740,000.00","6,360.00",3.00,2.00,2.00,1.00,0.00,1.00,1.00,0.00,...,1.00,1.00,0.00,1.00,1.00,1.00,0.00,1.00,1.00,1.00
max,"13,300,000.00","16,200.00",6.00,4.00,4.00,3.00,1.00,1.00,1.00,1.00,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00